<div class='rank-sidebar'>
  <ul class='rank-sidebar-links'>
    <li><%= link_to 'Wszyscy gracze', rank_root_path %></li>
    <li><%= link_to 'Top 10', rank_root_path(sort: 'top') %></li>
  </ul>
</div>

<table class='table table-stripped table-bordered rank-places-table'>
  <thead>
    <th>Miejsce</th>
    <th>Gracz</th>
    <th>Punkty</th>
    <th>Turnieje</th>
    <th>Mastery</th>
    <th>Czelendżery</th>
    <th>Lokale</th>
    <th>Ligi</th>
  <thead>
  <tbody>
    <% @places.each_with_index do |p, i| %>
      <tr>
       <td><%= i + 1 %></td>
       <td><%= link_to p.player.full_name, rank_player_result_path(p) %></td>
       <td><%= p.total_points %></td>
       <td><%= p.total_tournaments %></td>
       <td><%= p.masters_count %></td>
       <td><%= p.challengers_count %></td>
       <td><%= p.locals_count %></td>
       <td><%= p.leagues_count %></td>
      </tr>
    <% end %>
  </tbody>

</table>
