<table class='table table-stripped table-bordered'>
  <thead>
    <th>Miejsce</th>
    <th>Gracz</th>
    <th>Punkty</th>
    <th>Turnieje</th>
    <th>Mastery</th>
    <th>Czelendżery</th>
    <th>Lokale</th>
    <th>Ligi</th>
  <thead>
  <tbody>
    <% @places.each_with_index do |p, i| %>
      <tr>
       <td><%= i + 1 %></td>
       <td><%= p.player.full_name %></td>
       <td><%= p.total_points || 0 %></td>
       <td><%= p.total_tournaments || 0 %></td>
       <td><%= p.masters_count || 0%></td>
       <td><%= p.challengers_count || 0 %></td>
       <td><%= p.locals_count || 0 %></td>
       <td><%= p.leagues_count || 0 %></td>
      </tr>
    <% end %>
  </tbody>

</table>
