%label{:class => "label"}= t("activerecord.attributes.post.name", :default => t("activerecord.labels.name", :default => "Name")) + ":"
%p= @post.name
%label{:class => "label"}= t("activerecord.attributes.post.body", :default => t("activerecord.labels.body", :default => "Body")) + ":"
%p= redcloth(@post.body)

.form-actions
  = link_to "Back", tournament_posts_path(@tournament), :class => 'btn'
  = link_to "Edit", edit_tournament_post_path(@tournament, @post), :class => 'btn'
  = link_to "Delete", tournament_post_path(@tournament, @post), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
