-if logged_in? && (current_user == @tournament.user || current_user.admin?)
  .add_team.span3
    %p
      Dodaj zgłoszenie
    = form_for @tournament_registration, :url => tournament_tournament_registrations_path do |f|
      %p
        = f.label :player_id, "Wybierz gracza"
        = f.hidden_field :player_id, class: 'player-id'
        = text_field_tag :player, params[:player_id] || nil , class: 'typeahead'
      %p
        = f.label :army, "Armia"
        = f.select :army, options_for_select(Player::Armies), :include_blank => true
        = f.hidden_field :tournament_id, :value => @tournament.id
      %p
        =f.label :player_email, "Email gracza"
        = f.email_field :player_email
      %p
        %button{:type => 'submit'}
          Dodaj zgłoszenie
    %p
  .add_player
    %p
      Albo stwórz nowego gracza
    = form_for @player do |f|
      %p
        = f.label :league_id, "ID ligowe"
        = f.text_field :league_id
      %p
        = f.label :first_name, "Imię"
        = f.text_field :first_name
      %p
        = f.label :last_name, "Nazwisko"
        = f.text_field :last_name
      %p
        = f.label :nick, "Nick"
        = f.text_field :nick
      %p
        = f.label :city, "Miasto"
        = f.text_field :city
      %p
        %label
          Armia
        = select_tag :army, options_for_select(Player::Armies), :include_blank => true 
        = hidden_field_tag :tournament_id, @tournament.id
          
      %p  
        %button{:type => 'submit'}
          Dodaj gracza/zgłoszenie
      
