%tr
  %th
    = "#{i + 1}"
  %th
    =reg.player.full_name
  %th
    =reg.player.city
  %th
    =reg.army
  %th
    =reg.payment_send? ? "tak" : "nie"
    -if owner_or_admin?
      =link_to "", toggle_payment_tournament_tournament_registration_path(@tournament, reg), :style => "margin-left:8px", :class => "#{reg.payment_send? ? 'icon-remove' : 'icon-ok'}"
  %th
    =reg.roster_send? ? "tak" : "nie"
    -if owner_or_admin?
      =link_to "", toggle_rosters_tournament_tournament_registration_path(@tournament, reg), :style => "margin-left:8px", :class => "#{reg.roster_send? ? 'icon-remove' : 'icon-ok'}"
  %th
    =reg.roster_valid? ? "tak" : "nie"
    -if owner_or_admin?
      =link_to "", toggle_rosters_validation_tournament_tournament_registration_path(@tournament, reg), :style => "margin-left:8px", :class => "#{reg.roster_valid? ? 'icon-remove' : 'icon-ok'}"
  -if owner_or_admin?
    %th
      =link_to "", edit_tournament_tournament_registration_path(@tournament, reg), :class => 'icon-edit', :title => 'Edytuj'
      
      =link_to "", tournament_tournament_registration_path(@tournament, reg), :class => 'icon-remove', :method => :delete, :confirm => "Are you sure?", :title => 'Usuń zgłoszenie'
