<!DOCTYPE html>
%html
%head
  %title
  =stylesheet_link_tag "application"
  =javascript_include_tag "application"
  =csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .nav-colapse
          %ul.nav
            -if @tournament && @tournament.persisted?
              %li
                =link_to 'Blog', tournament_posts_path(@tournament)
              %li
                =link_to 'Zgłoszenia', tournament_tournament_registrations_path(@tournament)
              - if @pages
                - @pages.each do |page|
                  -if page.persisted?
                    %li
                      =link_to raw(page.title), tournament_page_path(@tournament, page)
              -if owner_or_admin?
                %li
                  = link_to 'Dodaj sekcję', new_tournament_page_path(@tournament)
              %li
                - text = @tournament.current_round == 0 ? 'Rozpocznij turniej' : 'Przebieg turnieju'
                = link_to text , tournament_play_path(@tournament)
              -if @tournament.finished?
                %li
                  = link_to 'Wyniki', results_tournament_path(@tournament)
          %ul.nav.pull-right
            %li
              =link_to "Wszystkie turnieje", tournaments_path
            -if logged_in?
              -if current_user.admin? 
                %li
                  =link_to 'Panel admina', '/admin'
              %li
                =link_to current_user.username, ""
              %li
                =link_to 'Wyloguj', logout_path
            -else
              %li
                =link_to 'Zaloguj', login_path
              %li
                =link_to 'Zarejestruj', signup_path

.container-fluid
  -if @tournament && @tournament.try(:name) == 'Arena'
    .row.header--arena

  -else
    .row.header
  .row{:style => "width:1024px;margin:auto"}
    .span2
      =render :partial => "shared/fb"
    .span6
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield 
/   .span2
/      .banner
/        %h2
/          Sponsorzy
/        %p
/          =link_to image_tag("PuppetsWar.jpg"), "http://puppetswar.com"
/        %p
/          =link_to image_tag("bitspudlo.png"), "http://bitsbox.eu"
/        %p
/          =link_to image_tag("MaxMini.jpg"), "http://maxmini.eu"
/        %p
/          =link_to image_tag("MicroArt.png"), "http://microartstudio.com"
/        %p
/          =link_to image_tag("warfaber.png"), "http://warfaber.pl"
/        %p
/          =link_to image_tag("mediateka.png"), "http://mediateka.waw.pl" 
